//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^davidallisoninc.com[nc]
RewriteRule ^(.*)$ http://www.davidallisoninc.com/$1 [r=301,nc]

<IfModule mod_rewrite.c>
RewriteEngine on 
Redirect 301 /cdn-cgi/l/email-protection https://valuegraphics.com/ 
Redirect 301 /about.html https://valuegraphics.com/about-us/ 
Redirect 301 /index.html https://valuegraphics.com/
Redirect 301 /advisory-services https://valuegraphics.com/howtoengage/ 
Redirect 301 /new-research.html https://valuegraphics.com/the-science/
Redirect 301 /contact.html https://valuegraphics.com/contact/
Redirect 301 / https://valuegraphics.com/ 
Redirect 301 ^(.*)$ https://valuegraphics.com/ 
</IfModule>
